name: CI
on: push
env:
  RUBYOPT: --enable=frozen-string-literal --debug=frozen-string-literal
jobs:
  mail-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', '3.3', '3.4', '4.0']
        mail: ['2.8.0', '2.8.1', '2.9.0']
    name: Ruby ${{ matrix.ruby }}, mail ${{ matrix.mail }}
    env:
      MAIL_GEM_VERSION: ${{ matrix.mail }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby }}
      - run: bundle exec ruby -Itest test/mail_test.rb

  all-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.2', '3.3', '3.4', '4.0']
        mail: ['2.8.0', '2.8.1', '2.9.0']
        rails: ['~>7.2.0', '~>8.0.0', '~>8.1.0']
    name: Rails ${{ matrix.rails }}, Ruby ${{ matrix.ruby }}, mail ${{ matrix.mail }}
    env:
      MAIL_GEM_VERSION: ${{ matrix.mail }}
      ACTIONMAILER_GEM_VERSION: ${{ matrix.rails }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby }}
      - run: bundle exec rake test_all

  tests_successful:
    name: Specs passing?
    needs: [mail-test, all-test]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          if ${{ needs.mail-test.result == 'success' && needs.all-test.result == 'success' }}
          then
            echo "All tests pass"
          else
            echo "Some tests failed"
            false
          fi
